table {
  width: 100%;
}

.mainDiv {
  margin-top: 5%;
  padding: 20px 30px;
}

th.mat-sort-header-sorted {
  color: black;
}

.ng-container {
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

th.mat-header-cell {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-right: 0.5px solid #a09e9e;
}

td.mat-cell {
  text-align: center;
  padding: 10px;
  border-right: 0.5px solid #a09e9e;
}

